<ion-header>
  <ion-toolbar>
    <ion-title ion-text color="primary">Upcoming Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label ion-text color="primary">4/30 Practical - 12:30 P.M. </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label ion-text color="primary">5/1 Study - 2:00 P.M. </ion-label>
  </ion-item>

  <ion-item>
    <ion-label ion-text color="primary">5/5 Relax - 6:30 P.M. </ion-label>
  </ion-item>

  <ion-button href="/weather">Weather</ion-button>
  <ion-button href="/home">Agenda</ion-button>
</ion-content>
